


/* 1450px */
@media (max-width: 1449.98px) {

    /* article-6 */
    .article-6 {
        padding: 150px 100px;
    }
    .article-6 .showroom .showroom-image img {
        height: 270px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 40px;
        line-height: 70px;
    }

    /* article-7 */
    /* .article-7 .slogan p {
        font-size: 40px;
        line-height: 70px;
    } */
}

/* 1400px */
@media (max-width: 1399.98px) {

    /* header */
    header.navbar .search-input {
        min-width: 370px;
    }

    /* article-1 */
    .article-1 .mascot {
        left: 48%;
        top: 125%;
    }
    .article-1 .ellipse {
        bottom: -145%;
        left: 45%;
    }
    .article-1 .electric {
        bottom: -45%;
        left: 45%;
    }

    /* article-3 */
    .article-3 .product {
        flex-wrap: wrap;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .subject {
        font-size: 65px;
        line-height: 80px;
    }
    .article-5 .statement .statement-detail .statement-wrapper {
        margin: 30px;
    }

    /* footer */
    .footer .right-wrapper {
        gap: 40px;
    }
    .footer .about-us .title, .footer .guide .title, .footer .more .title {
        font-size: 27px;
    }
}

/* 1300px */
@media (max-width: 1299.98px) {

    /* article-6 */
    .article-6 {
        padding: 70px 30px;
    }
    .article-6 .showroom .showroom-image img {
        height: 200px;
    }

    /* article-7 */
    .article-7 {
        padding: 70px 30px;
    }
}

/* 1200px */
@media (max-width: 1199.98px) {

    /* article-2 */
    .article-2 .mascot {
        display: none;
    }
    .article-2 .ellipse {
        display: none;
    }

    /* article-4 */
    .article-4 {
        padding: 70px 30px;
    }
    .article-3 .slogan,
    .article-4 .slogan {
        font-size: 57px;
    }
    .article-3 .slogan .slogan-main img,
    .article-4 .slogan .slogan-main img {
        height: 150px;
    }
    .article-3 .product,
    .article-4 .sale {
        margin-top: 30px;
        padding: 0;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .subject {
        font-size: 57px;
        line-height: 75px;
    }

    /* article-8 */
    .article-8 {
        padding-top: 137px;
        padding-bottom: 133px;
    }
    .article-8 .advise {
        /* border: 1px solid white; */
        backdrop-filter: blur(12px);
        justify-content: center !important;
        padding: 70px 30px;
    }
    .article-8 .advise .advise-detail .form {
        margin-top: 37px;
    }

    /* footer */
    .footer .wrapper {
        gap: 40px;
    }
    .footer .info .company-name, .footer .about-us .title, .footer .guide .title, .footer .more .title {
        font-size: 18px;
    }
}

/* 1100px */
@media (max-width: 1099.98px) {

    /* article-5 */
    .article-5 .statement {
        padding: 70px 30px;
    }
    .article-5 .statement .statement-detail {
        padding: 0;
        width: 100%;
    }
    .article-5 .statement .image {
        display: none;
    }

    /* article-6 */
    .article-6 .showroom .discover-all {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .article-6 .showroom .showroom-image {
        display: none;
    }
}

/* 992px */
@media (max-width: 991.98px) {

    /* header */
    header.navbar .search-form {
        margin-top: 10px;
    }
    header.navbar .right-wrapper {
        margin: 10px 0px;
    }
    header.navbar .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header.navbar .links a:hover {
        background-color: #FFFFFF;
        color: #FA5A0A;
    }
    header.navbar .links a {
        color: #FFFFFF;
        font-family: "Nunito", serif;
        font-size: 20px;
        padding: 0 15px;
        transition: .17s;
        text-decoration: none;
    }
    nav.navbar .links {
        display: none !important;
    }

    /* article-1 */
    .article-1 .slogan {
        font-size: 70px;
        line-height: 90px;
    }
    .article-1 .mascot {
        left: 52%;
        top: 180%;
    }
    .article-1 .ellipse {
        bottom: -260%;
        left: 45%;
    }
    .article-1 .electric {
        bottom: -110%;
    }

    /* article-2 */
    .article-2 .slogan {
        font-size: 45px;
    }

    .article-3 .slogan {
        font-size: 40px;
    }
    .article-3 .slogan .slogan-main {
        gap: 10px;
    }
    .article-3 .slogan .slogan-main img {
        height: 120px;
    }

    /* article-4 */
    .article-4 .slogan {
        font-size: 40px;
    }
    .article-4 .slogan .slogan-main img {
        height: 120px;
    }

    /* article-8 */
    .article-8 .advise .advise-detail .mascot-wrapper .mascot {
        display: none;
    }
    .article-8 .advise .advise-detail .form {
        align-items: center;
        flex-direction: column;
    }
    .article-8 .advise .advise-detail .slogan {
        justify-content: center;
    }

    /* footer */
    .footer .wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .footer .right-wrapper {
        /* gap: unset; */
        justify-content: space-between;
    }
}

/* 768px */
@media (max-width: 767.98px) {

    /* article-1 */
    .article-1 {
        padding-top: 60px;
    }
    .article-1 .slogan {
        font-size: 45px;
        line-height: 70px;
    }
    .article-1 .mascot {
        left: 35%;
        top: 240%;
    }
    .article-1 .mascot img {
        height: 170px;
    }
    .article-1 .ellipse {
        bottom: -330%;
        left: 30%;
    }
    .article-1 .electric {
        left: 30%;
        bottom: -155%;
    }
    .article-1 .electric img {
        height: 120px;
    }
    .article-1 .discover-more {
        margin-top: 25px;
    }
    .article-1 .discover-more .discover-more-button {
        width: 200px;
    }

    /* article-2 */
    .article-2 {
        padding: 70px 30px;
    }
    .article-2 .sale {
        margin-top: 50px;
    }

    /* article-3 */
    .article-3 {
        padding: 70px 30px;
    }
    .article-3 .slogan .slogan-main {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .article-3 .slogan .slogan-main img {
        max-height: 80px;
        min-height: 80px;
        max-width: 80px;
        min-width: 80px;
    }
    .article-3 .discover-all .discover-all-button {
        width: 200px;
    }

    /* article-4 */
    .article-4 {
        padding: 70px 30px;
    }
    .article-4 .slogan .slogan-main {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .article-4 .slogan .slogan-main img {
        max-height: 80px;
        min-height: 80px;
        max-width: 80px;
        min-width: 80px;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .statement-wrapper {
        margin: 0;
    }
    .article-5 .statement .statement-detail .subject {
        font-size: 37px;
        line-height: 50px;
    }

    /* article-6 */
    .article-6 .showroom .showroom-adrress {
        max-width: 500px;
        min-width: 500px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 30px;
    }
    .article-6 .showroom .showroom-city {
        margin-top: 23px;
    }
    .article-6 .discover-all .discover-all-button {
        max-width: 200px;
    }

    /* article-7 */
    .article-7 .slogan {
        font-size: 40px;
    }
    .article-7 .discover-all .discover-all-button {
        max-width: 200px;
    }

    /* article-8 */
    .article-8 {
        padding: 0px;
    }
    .article-8 .advise .advise-detail .slogan {
        font-size: 40px;
        line-height: 53px;
    }
    .article-8 .advise .advise-detail .form .form-control {
        height: 60px;
    }
    .article-8 .advise .advise-detail .form .submit-button {
        height: 44px;
        max-width: 110px;
        min-width: auto;
        padding: 10px;
    }

    /* footer */
    footer {
        padding-top: 77px;
    }
}

/* 576px */
@media (max-width: 575.98px) {

    /* article-2 */
    .article-2 .slogan {
        font-size: 30px;
    }
    .article-2 .slogan .detail {
        font-size: 15px;
    }

    /* article-3 */
    .article-3 .slogan {
        font-size: 23px;
    }
    .article-3 .product .card,
    .article-3 .product .card .card-img,
    .article-3 .product .card .card-img img {
        max-height: 250px;
        min-height: 250px;
        min-width: 390px;
        max-width: 390px;
    }
    .article-3 .product .card .card-detail {
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .article-3 .product .card .card-detail .product-name {
        font-size: 20px;
    }
    .article-3 .product .card .card-detail .product-quantity {
        font-size: 19px;
    }

    /* article-4 */
    .article-4 .slogan {
        font-size: 27px;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .content {
        margin-top: 55px;
        width: auto;
    }

    /* article-6 */
    .article-6 .showroom .showroom-adrress {
        /* max-width: 300px; */
        min-width: 300px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 23px;
    }

    /* srticle-7 */
    .article-7 .slogan {
        font-size: 30px;
    }
    .article-7 .news-event {
        margin-top: 30px;
        padding: 0;
    }

    /* footer */
    footer {
        padding-left: 40px;
        padding-right: 30px;
    }
    .footer .wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .footer .right-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .footer .other-logo {
        align-items: flex-start;
        flex-direction: column;
    }
}

/* 500px */
@media (max-width: 499.98px) {
    .article-8 .advise .advise-detail .slogan {
        font-size: 30px;
        line-height: 45px;
    }
    .article-8 .advise .advise-detail .form .form-control {
        max-width: auto;
        min-width: auto;
        width: 100%;
    }
}


