


/* 1700px */
@media (max-width: 1699.98px) {

    /* article-3 */
    .article-3 .product .card {
        max-height: 310px !important;
        min-height: 310px !important;
        max-width: 400px !important;
        min-width: 400px !important;
    }
}

/* 1570px */
@media (max-width: 1569.98px) {

    /* article-2 */
    .article-2 .mascot {
        right: 9%;
    }
    .article-2 .ellipse {
        right: 0;
    }
}

/* 1500px */
@media (max-width: 1499.98px) {

    /* article-2 */
    .article-2 .mascot {
        right: 3%;
    }
    .article-2 .ellipse {
        right: -8%;
    }
}

/* 1450px */
@media (max-width: 1449.98px) {

    /* article-2 */
    .article-2 .mascot {
        display: none;
    }
    .article-2 .ellipse {
        display: none;
    }

    /* article-3 */
    .article-3 .product .card {
        max-height: 250px !important;
        min-height: 250px !important;
        max-width: 350px !important;
        min-width: 350px !important;
    }

    /* article-4 */
    .article-4 .sale {
        margin-top: 30px;
    }
    .article-4 .sale .card {
        max-width: 370px !important;
        min-width: 370px !important;
    }
    .article-4 .sale .card .card-img  {
        height: 282px;
    }

    /* article-6 */
    .article-6 {
        padding: 150px 100px;
    }
    .article-6 .showroom .showroom-image img {
        height: 270px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 40px;
        line-height: 70px;
    }

    /* article-7 */
    /* .article-7 .slogan p {
        font-size: 40px;
        line-height: 70px;
    } */
}

/* 1400px */
@media (max-width: 1399.98px) {

    /* header */
    header.navbar .search-input {
        min-width: 370px;
    }

    /* article-1 */
    .article-1 .mascot {
        left: 48%;
        top: 125%;
    }
    .article-1 .ellipse {
        bottom: -145%;
        left: 45%;
    }
    .article-1 .electric {
        bottom: -45%;
        left: 45%;
    }

    /* article-3 */
    .article-3 .product {
        flex-wrap: wrap;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .subject {
        font-size: 65px;
        line-height: 80px;
    }
    .article-5 .statement .statement-detail .statement-wrapper {
        margin: 30px;
    }

    /* footer */
    .footer .right-wrapper {
        gap: 40px;
    }
    .footer .about-us .title, .footer .guide .title, .footer .more .title {
        font-size: 27px;
    }
}

/* 1300px */
@media (max-width: 1299.98px) {

    /* article-6 */
    .article-6 {
        padding: 60px 30px;
    }
    .article-6 .showroom .showroom-image img {
        height: 200px;
    }

    /* article-7 */
    .article-7 {
        padding: 60px 30px;
    }
}

/* 1200px */
@media (max-width: 1199.98px) {

    /* article-3 */
    .article-3 {
        padding: 60px 30px;
    }

    /* article-4 */
    .article-4 {
        padding: 60px 30px;
    }
    .article-3 .slogan,
    .article-4 .slogan {
        font-size: 57px;
    }
    .article-3 .slogan .slogan-main img,
    .article-4 .slogan .slogan-main img {
        height: 150px;
    }
    .article-3 .product,
    .article-4 .sale {
        margin-top: 30px;
        padding: 0;
    }

    /* article-5 */
    .article-5 .statement .statement-detail .subject {
        font-size: 57px;
        line-height: 75px;
    }

    /* article-8 */
    .article-8 {
        padding-top: 137px;
        padding-bottom: 133px;
    }
    .article-8 .advise {
        /* border: 1px solid white; */
        /* backdrop-filter: blur(12px); */
        justify-content: flex-end !important;
        margin-left: auto;
        margin-right: 0;
        padding: 60px 30px;
    }
    .article-8 .advise .advise-detail .form {
        margin-top: 37px;
    }

    /* footer */
    .footer .wrapper {
        gap: 40px;
    }
    .footer .info .company-name, .footer .about-us .title, .footer .guide .title, .footer .more .title {
        font-size: 18px;
    }
}

/* 1100px */
@media (max-width: 1099.98px) {

    /* article-5 */
    .article-5 .statement {
        padding: 60px 30px;
    }
    .article-5 .statement .statement-detail {
        padding: 0;
        width: 100%;
    }
    .article-5 .statement .image {
        display: none;
    }

    /* article-6 */
    .article-6 .showroom .discover-all {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .article-6 .showroom .showroom-image {
        display: none;
    }
}

/* 992px */
@media (max-width: 991.98px) {

    /* header */
    header.navbar .search-form {
        margin-top: 10px;
    }
    header.navbar .right-wrapper {
        margin: 10px 0px;
    }
    header.navbar .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header.navbar .links a:hover {
        background-color: #FFFFFF;
        color: #FA5A0A;
    }
    header.navbar .links a {
        color: #FFFFFF;
        font-family: "Nunito", serif;
        font-size: 20px;
        padding: 0 15px;
        transition: .17s;
        text-decoration: none;
    }
    nav.navbar .links {
        display: none !important;
    }

    /* article-1 */
    .article-1 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        min-height: 100vh;
        padding-top: 60px;
    }
    .article-1 .slogan {
        font-size: 50px;
        line-height: 70px;
    }
    .article-1 .mascot {
        right: 32%;
        top: 117%;
    }
    .article-1 .mascot img {
        height: 140px;
    }
    .article-1 .ellipse {
        top: 0;
        right: -14%;
    }
    .article-1 .electric {
        right: 44%;
        bottom: -32%;
    }
    .article-1 .electric img {
        height: 90px;
    }
    .article-1 .discover-more {
        margin-top: 25px;
    }
    .article-1 .discover-more .discover-more-button {
        width: 200px;
    }

    /* article-2 */
    .article-2 {
        padding: 40px 30px;
    }
    .article-2 .slogan {
        font-size: 35px;
    }
    .article-2 .sale {
        margin-top: 30px;
    }
    .article-2 .slogan .slogan-detail {
        font-size: 14px;
    }
    .article-2 .sale {
        padding: 0;
    }
    .article-2 .sale .card {
        max-width: 290px;
        min-width: 290px;
        padding: 20px 20px 7px 20px;
    }
    .article-2 .sale .card .card-img {
        /* background-size: cover; */
        height: 247px;
        /* width: 287px; */
    }
    .android .article-2 .sale .card {
        max-width: 320px;
        min-width: 320px;
    }
    .android .article-2 .sale .card .card-img {
        height: 240px;
    }
    .article-2 .sale .card .card-detail .sale-product-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    /* article-3 */
    .article-3 {
        padding: 40px 30px;
    }
    .article-3 .slogan .slogan-main {
        align-items: center;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
    .android .article-3 .slogan .slogan-main {
        font-size: 41px;
    }
    .article-3 .slogan .slogan-main img {
        height: 60px;
    }
    .android .article-3 .slogan .slogan-main img {
        height: 50px;
    }
    .article-3 .discover-all .discover-all-button {
        width: 200px;
    }
    .article-3 .product .card {
        max-width: 330px !important;
        min-width: 330px !important;
    }
    .android .article-3 .product .card {
        max-width: 320px !important;
        min-width: 320px !important;
    }
    .article-3 .product {
        margin-top: 30px;
    }
    .article-3 .product .card .card-detail {
        padding-left: 17px;
        padding-bottom: 10px;
    }
    .article-3 .product .card .card-detail .product-name {
        font-size: 18px;
        line-height: 19px;
    }
    .article-3 .product .card .card-detail .product-quantity {
        font-size: 14px;
    }

    /* article-4 */
    .article-4 {
        padding: 40px 30px;
    }
    .android .article-4 .slogan .slogan-main {
        font-size: 24px;
    }
    .article-4 .slogan .slogan-main img {
        height: 80px;
    }
    .android .article-4 .slogan .slogan-main img {
        height: 70px;
    }
    .article-4 .slogan .slogan-main {
        align-items: center;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
    .article-4 .sale {
        margin-top: 37px;
    }
    .article-4 .sale .card {
        max-width: 330px !important;
        min-width: 330px !important;
        padding: 20px 20px 7px 20px;
    }
    .android .article-4 .sale .card {
        max-width: 320px !important;
        min-width: 320px !important;
        padding: 12px 20px;
    }
    .article-4 .sale .card .card-img {
        height: 247px;
    }

    /* article-5 */
    .article-5 .statement {
        padding: 40px 30px;
    }
    .article-5 .statement .statement-detail .statement-wrapper {
        margin: 0;
        max-width: 690px;
    }
    .article-5 .statement .statement-detail .subject {
        font-size: 30px;
        line-height: 50px;
    }
    .android .article-5 .statement .statement-detail .subject {
        font-size: 33px;
        line-height: 47px;
    }
    .article-5 .statement .statement-detail .content {
        margin-top: 40px;
        width: auto;
    }
    .android .article-5 .statement .statement-detail .content {
        margin-top: 40px;
    }

    /* article-6 */
    .article-6 {
        padding: 40px 30px 40px 30px;
    }
    .article-6 .showroom .showroom-adrress {
        max-width: 690px;
        min-width: 690px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 30px;
    }
    .article-6 .showroom .showroom-city {
        margin-top: 23px;
    }
    .article-6 .showroom .showroom-city .tab-content {
        max-height: 480px;
        min-height: 480px;
    }
    .article-6 .discover-all {
        margin-top: 37px;
    }
    .article-6 .discover-all .discover-all-button {
        max-width: 200px;
    }

    /* article-7 */
    .article-7 {
        padding: 40px 30px;
    }
    .article-7 .slogan {
        font-size: 35px;
    }
    .article-7 .discover-all .discover-all-button {
        max-width: 200px;
    }
    .article-7 .news-event {
        margin-top: 30px;
        padding: 0;
    }
    .article-7 .news-event .card {
        max-width: 330px !important;
    }
    .article-7 .news-event .card .card-img {
        height: 170px;
    }
    .article-7 .discover-all {
        margin-top: 37px;
    }

    /* article-8 */
    .article-8 {
        padding: 0px;
        padding: 60px 30px;
    }
    .article-8 .advise {
        justify-content: flex-end !important;
        margin-left: auto;
        margin-right: 0;
        padding: 0;
    }
    .article-8 .advise .advise-detail .mascot-wrapper .mascot {
        display: none;
    }
    .article-8 .advise .advise-detail .form {
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .article-8 .advise .advise-detail .slogan {
        justify-content: center;
        font-size: 33px;
        line-height: 47px;
    }
    .article-8 .advise .advise-detail .form .form-control {
        height: 60px;
    }
    .article-8 .advise .advise-detail .form .submit-button {
        height: 44px;
        max-width: 110px;
        min-width: auto;
        padding: 10px;
    }

    /* footer */
    footer {
        padding-top: 77px;
    }
    .footer .wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .footer .right-wrapper {
        /* gap: unset; */
        justify-content: space-between;
    }
}

/* 768px */
@media (max-width: 767.98px) {

    /* article-1 */
    .article-1 .mascot {
        display: none;
    }
    .article-1 .ellipse {
        display: none;
    }
    .article-1 .electric {
        display: none;
    }

    /* article-2 */
    .article-2 .slogan .slogan-detail {
        font-size: 12.2px;
        text-align: left;
    }
    .article-2 .sale .card {
        padding: 17px 20px 20px 20px;
    }
    /* .article-2 .sale .card .card-img {
        height: 287px;
    } */

    /* article-3 */
    .article-3 .slogan .slogan-main {
        font-size: 28px;
    }
    .android .article-3 .slogan .slogan-main {
        font-size: 24px;
    }

    /* article-4 */
    .article-4 .slogan .slogan-main {
        font-size: 28px;
    }

    /* article-6 */
    .article-6 .discover-all {
        margin-top: 25px;
    }

    /* article-7 */
    .article-7 .slogan {
        font-size: 30px;
    }

    /* article-8 */
    .article-8 .advise {
        justify-content: center !important;
        /* padding: 12px; */
    }
    .article-8 .advise .advise-detail .mascot-wrapper {
        max-width: none;
    }
    .article-8 .advise .advise-detail .slogan {
        font-size: 27px;
        line-height: 45px;
    }
    .android .article-8 .advise .advise-detail .slogan {
        font-size: 23px;
        line-height: 40px;
    }
    .article-8 .advise .advise-detail .form {
        max-width: none;
    }
    .article-8 .advise .advise-detail .form .form-control {
        min-width: 350px;
        width: 100%;
    }
}

/* 576px */
@media (max-width: 575.98px) {


    nav.navbar {
        font-size: 18.5px;
    }

    /* article-1 */
    .article-1 {
        padding: 60px 30px 0 30px;
        justify-content: flex-start;
    }
    .article-1 .slogan {
        font-size: 41px;
        line-height: 57px;
    }
    .android .article-1 .slogan {
        font-size: 40px;
        line-height: 57px;
    }
    .article-1 .discover-more .discover-more-button {
        font-size: 15px;
        height: 62px;
    }
    .android .article-1 .discover-more .discover-more-button {
        font-size: 15px;
        height: 57px;
    }
    .article-1 .mascot {
        display: block;
        left: 33%;
        top: 240%;
    }
    .article-1 .mascot img {
        /* height: 180px; */
        height: 160px;
    }
    .article-1 .ellipse {
        display: block;
        left: 25%;
        right: 0;
        top: 200%;
    }
    .article-1 .ellipse img {
        height: 300px;
    }
    .article-1 .electric {
        display: block;
        right: -3%;
        bottom: -163%;
    }
    .article-1 .electric img {
        height: 130px;
    }

    /* article-2 */
    .article-2 .sale {
        padding: 0;
    }
    .article-2 .slogan {
        font-size: 31px;
        gap: 5px;
        text-align: left;
    }
    .android .article-2 .slogan {
        font-size: 28px;
    }
    .article-2 .slogan .detail {
        font-size: 15px;
    }
    .article-2 .sale .card {
        max-width: 330px;
        min-width: 330px;
    }
    .article-2 .sale .card .card-img {
        height: 290px;
    }
    .article-2 .sale {
        margin-top: 57px;
    }

    /* article-3 */
    .article-3 .slogan {
        font-size: 28px;
        margin-top: 30px;
    }
    .article-3 .slogan .slogan-main {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .article-3 .product {
        margin-top: 60px;
    }
    .article-3 .product .card {
        max-height: 265px !important;
        min-height: 265px !important;
        /* min-width: 350px;
        max-width: 350px; */
    }
    .android .article-3 .product .card,
    .android .article-3 .product .card .card-img {
        min-width: 300px;
    }
    .article-3 .product .card .card-detail {
        line-height: 17px;
    }
    .article-3 .product .card .card-detail .product-name {
        font-size: 16px;
        line-height: 19px;
    }
    .article-3 .product .card .card-detail .product-quantity {
        font-size: 14px;
    }
    .article-3 .discover-all {
        margin-top: 105px;
    }

    /* article-4 */
    .article-4 .slogan {
        font-size: 28px;
    }
    .article-4 .slogan .slogan-main {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .article-4 .sale .card {
        max-width: 354px;
        min-width: 354px;
    }
    .android .article-4 .sale .card {
        max-width: 300px;
        min-width: 300px;
    }

    /* article-5 */
    .article-5 .statement {
        padding: 40px;
    }
    .article-5 .statement .statement-detail .subject {
        font-size: 30px;
        line-height: 40px;
    }
    .article-5 .statement .statement-detail .content {
        font-size: 16px;
        margin-top: 47px;
        width: auto;
    }
    .article-5 .statement .statement-detail .sign {
        font-size: 21px;
        line-height: 27px;
        margin-top: 45px;
    }
    .article-5 .statement .statement-detail .title {
        font-size: 16px;
    }
    .article-5 .statement .statement-detail .arrow {
        margin-top: 55px;
    }

    /* article-6 */
    .article-6 .showroom .showroom-adrress {
        /* max-width: 300px; */
        min-width: 300px;
    }
    .article-6 .showroom .showroom-adrress .header p {
        font-size: 35px;
        line-height: 47px;
    }
    .android .article-6 .showroom .showroom-adrress .header p {
        font-size: 23px;
    }
    .article-6 .showroom .showroom-city .nav {
        font-size: 10px;
        line-height: 12px;
    }
    .article-6 .showroom .showroom-city .tab-content {
        max-height: 430px;
        min-height: 430px;
    }
    .article-6 .showroom .showroom-city .tab-content .content:nth-child(n+2) {
        margin-top: 30px;
    }

    /* srticle-7 */
    .article-7 .slogan {
        font-size: 30px;
    }
    .article-7 .news-event {
        margin-top: 65px;
        padding: 0;
    }
    .article-7 .discover-all {
        margin-top: 96px;
    }

    /* article-8 */
    .article-8 .advise .advise-detail .slogan {
        font-size: 28px;
        line-height: 38px;
    }
    .article-8 .advise .advise-detail .slogan p {
        margin: 0;
    }
    .article-8 .advise .advise-detail .form {
        gap: 26px;
        margin-top: 60px;
    }
    .article-8 .advise .advise-detail .form .form-control {
        height: 50px;
    }
    .android .article-8 .advise .advise-detail .form .form-control:nth-child(2) {
        height: 60px;
    }
    .article-8 .advise .advise-detail .form .submit-button {
        font-size: 12px;
        height: 35px;
        padding: 9px;
    }

    /* footer */
    footer {
        padding-left: 40px;
        padding-right: 30px;
    }
    .footer .wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .footer .right-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .footer .other-logo {
        align-items: flex-start;
        flex-direction: column;
    }
}


